.container {
  padding: 20px;
}

.headingPrimary {
  color: rgb(255, 196, 4);
  text-align: center;
}

.headingSecondary {
  color: rgb(128, 248, 128);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.assetList {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center assets horizontally */
}

.assetItem {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
  justify-content: center;
  width: calc(100% - 40px); /* Adjust width to add padding space */
  max-width: 300px; /* Set a max-width to prevent stretching on larger screens */
  box-sizing: border-box;
}

.assetItem:hover {
  background-color: rgb(2, 48, 6);
  transform: translateY(-3px); /* Adds a slight lift effect on hover */
}

.assetImage {
  margin-right: 10px;
}

.button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(255, 196, 4);
  color: #130101;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgb(6, 153, 6);
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.message {
  margin-top: 10px;
  padding: 10px;
  background-color: #e0ffe0;
  border: 1px solid #00b300;
  border-radius: 5px;
  color: #006600;
}

.networkItem {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.networkItem:hover {
  background-color: rgb(94, 73, 4); /* Hover color */
}

.networkItem.selected {
  background-color: rgb(4, 155, 17); /* Selected color */
  font-weight: bold;
}

.walletAddress {
  color: black;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  user-select: text; /* Allow text to be selected */
  position: relative; /* Required for positioning the copy button */
}

.copyButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 196, 4);
  border: none;
  color: #130101;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.copyButton:hover {
  background-color: rgb(6, 153, 6);
}

.proof {
  color: rgb(128, 248, 128);
  margin-top: 10px;
}

.searchBarContainer {
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.searchInput:focus {
  border-color: rgb(255, 196, 4);
  outline: none;
}

.proof {
  color: #00b300;
  margin-bottom: 6px;
  font-size: 22px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .assetItem {
    width: calc(100% - 20px); /* Make the asset items full width on smaller screens */
    max-width: none;
  }
}
